In [8]:
import pandas as pd
import random

In [122]:
# använde den här ipynb filen för att komma på hur jag ska extrahera den behövda datan till uppgiften.
link = 'https://sv.wikipedia.org/wiki/Lista_%C3%B6ver_Pok%C3%A9mon'
df = pd.DataFrame(pd.read_html(link)[1])
df = df.iloc[0:151,[2,0]]
df.rename(columns={'Nationellt Pokédex №' : 'Pokedex'}, inplace=True)
df.set_index("Pokedex", inplace=True)
df["Engelskt namn"].to_json("../pokedata/pokelist.json", orient="index")

In [107]:
link = 'https://sv.wikipedia.org/wiki/Lista_%C3%B6ver_Pok%C3%A9mon'
list = pd.read_html(link)
list[1]

    Engelskt namn         Japanskt namn  Nationellt Pokédex №           Typ
0       Bulbasaur   Fushigidane (フシギダネ)                     1     Gräs/Gift
1         Ivysaur     Fushigisō (フシギソウ)                     2     Gräs/Gift
2        Venusaur   Fushigibana (フシギバナ)                     3     Gräs/Gift
3      Charmander       Hitokage (ヒトカゲ)                     4           Eld
4      Charmeleon         Rizādo (リザード)                     5           Eld
..            ...                   ...                   ...           ...
893     Regieleki     Rejiereki (レジエレキ)                   894     Elektrisk
894     Regidrago    Rejidorago (レジドラゴ)                   895         Drake
895     Glastrier    Burizaposu (ブリザポス)                   896            Is
896     Spectrier     Reisuposu (レイスポス)                   897         Spöke
897       Calyrex  Badorekkusu (バドレックス)                   898  Psykisk/Gräs

[898 rows x 4 columns]

In [108]:
type(list[1])

pandas.core.frame.DataFrame

In [109]:
# döper om list[1] till df
df = list[1]

In [110]:
df

    Engelskt namn         Japanskt namn  Nationellt Pokédex №           Typ
0       Bulbasaur   Fushigidane (フシギダネ)                     1     Gräs/Gift
1         Ivysaur     Fushigisō (フシギソウ)                     2     Gräs/Gift
2        Venusaur   Fushigibana (フシギバナ)                     3     Gräs/Gift
3      Charmander       Hitokage (ヒトカゲ)                     4           Eld
4      Charmeleon         Rizādo (リザード)                     5           Eld
..            ...                   ...                   ...           ...
893     Regieleki     Rejiereki (レジエレキ)                   894     Elektrisk
894     Regidrago    Rejidorago (レジドラゴ)                   895         Drake
895     Glastrier    Burizaposu (ブリザポス)                   896            Is
896     Spectrier     Reisuposu (レイスポス)                   897         Spöke
897       Calyrex  Badorekkusu (バドレックス)                   898  Psykisk/Gräs

[898 rows x 4 columns]

In [111]:
df.columns

Index(['Engelskt namn', 'Japanskt namn', 'Nationellt Pokédex №', 'Typ'], dtype='object')

In [112]:
df = df.iloc[0:151,[2,0]]
df.rename(columns={'Nationellt Pokédex №' : 'Pokedex'}, inplace=True)
df.set_index("Pokedex", inplace=True)
df

        Engelskt namn
Pokedex
1           Bulbasaur
2             Ivysaur
3            Venusaur
4          Charmander
5          Charmeleon
...               ...
147           Dratini
148         Dragonair
149         Dragonite
150            Mewtwo
151               Mew

[151 rows x 1 columns]

In [113]:
#json_result = df["Engelskt namn"].to_json(orient="index")
df["Engelskt namn"].to_json("../pokedata/pokelist.json", orient="index")

b)

In [142]:
nbr_of_randints = 6
n_random_int = []

for times in range(nbr_of_randints):
    random_int = random.randint(1, 151)
    n_random_int.append(str(random_int))

print(n_random_int)

['17', '136', '125', '41', '88', '111']

In [179]:
import requests
import json
import random
import time

list_of_int = []

while len(list_of_int) <= 5:
    rand_int = random.randint(1, 151)
    if rand_int not in list_of_int:
        list_of_int.append(rand_int)

for item in list_of_int:
    with open('../pokedata/pokelist.json') as file:
        pokelist = json.load(file)
    pokemon = pokelist[str(item)].lower()
    pokemondata = requests.get(f"https://pokeapi.co/api/v2/pokemon-species/{pokemon}")
    with open(f'../pokedata/pokebelt/{pokemon}.json', 'w') as file2:
        json.dump(pokemondata.json(), file2)
    time.sleep(2)

In [180]:
def extract_pokemon_data():
    """Extracts data for 6 random Pokemons and saves the data as .json."""
    list_of_int = []

    while len(list_of_int) <= 5:
        rand_int = random.randint(1, 151)
        if rand_int not in list_of_int:
            list_of_int.append(rand_int)

    for item in list_of_int:
        with open('../pokedata/pokelist.json') as file:
            pokelist = json.load(file)
        pokemon = pokelist[str(item)].lower()
        pokemondata = requests.get(f"https://pokeapi.co/api/v2/pokemon-species/{pokemon}")
        with open(f'../pokedata/pokebelt/{pokemon}.json', 'w') as file2:
            json.dump(pokemondata.json(), file2)
        time.sleep(2)

extract_pokemon_data()

In [160]:
l = []

while len(l) <= 5:
    rand_int = str(random.randint(1, 151))
    if rand_int not in l:
        l.append(rand_int)
print(l)

['129', '122', '72', '124', '112', '105']

In [154]:
import requests
import json
#data = pd.read_json("../pokedata/pokelist.json", typ="serie")
# ln = "https://pokeapi.co/api/v2/pokemon-species/" + str.lower(data[1])
#ln = "https://pokeapi.co/api/v2/pokemon-species/bulbasaur"
#read_h = pd.read_html('https://pokeapi.co/api/v2/pokemon-species/bulbasaur')
#print(read_h)
b = requests.get(url='https://pokeapi.co/api/v2/pokemon-species/bulbasaur')
#print(a.json())
with open('b.json', 'w') as file:
    json.dump(b.json(), file)

In [119]:
print(a.json()['base_happiness'])

50

In [178]:
# läsa in pokelist.json
with open('../pokedata/pokelist.json') as file:
    pokelist = json.load(file)
pokelist["3"].lower()

'venusaur'