In [112]:
import pandas as pd

In [122]:
# använde den här ipynb filen för att komma på hur jag ska extrahera den behövda datan till uppgiften.
link = 'https://sv.wikipedia.org/wiki/Lista_%C3%B6ver_Pok%C3%A9mon'
df = pd.DataFrame(pd.read_html(link)[1])
df = df.iloc[0:151,[2,0]]
df.rename(columns={'Nationellt Pokédex №' : 'Pokedex'}, inplace=True)
df.set_index("Pokedex", inplace=True)
df["Engelskt namn"].to_json("../pokedata/pokelist1.json", orient="index")

In [113]:
link = 'https://sv.wikipedia.org/wiki/Lista_%C3%B6ver_Pok%C3%A9mon'
list = pd.read_html(link)

In [114]:
list[1]

    Engelskt namn         Japanskt namn  Nationellt Pokédex №           Typ
0       Bulbasaur   Fushigidane (フシギダネ)                     1     Gräs/Gift
1         Ivysaur     Fushigisō (フシギソウ)                     2     Gräs/Gift
2        Venusaur   Fushigibana (フシギバナ)                     3     Gräs/Gift
3      Charmander       Hitokage (ヒトカゲ)                     4           Eld
4      Charmeleon         Rizādo (リザード)                     5           Eld
..            ...                   ...                   ...           ...
893     Regieleki     Rejiereki (レジエレキ)                   894     Elektrisk
894     Regidrago    Rejidorago (レジドラゴ)                   895         Drake
895     Glastrier    Burizaposu (ブリザポス)                   896            Is
896     Spectrier     Reisuposu (レイスポス)                   897         Spöke
897       Calyrex  Badorekkusu (バドレックス)                   898  Psykisk/Gräs

[898 rows x 4 columns]

In [115]:
df = pd.DataFrame(list[1])
type(df)

pandas.core.frame.DataFrame

In [116]:
df

    Engelskt namn         Japanskt namn  Nationellt Pokédex №           Typ
0       Bulbasaur   Fushigidane (フシギダネ)                     1     Gräs/Gift
1         Ivysaur     Fushigisō (フシギソウ)                     2     Gräs/Gift
2        Venusaur   Fushigibana (フシギバナ)                     3     Gräs/Gift
3      Charmander       Hitokage (ヒトカゲ)                     4           Eld
4      Charmeleon         Rizādo (リザード)                     5           Eld
..            ...                   ...                   ...           ...
893     Regieleki     Rejiereki (レジエレキ)                   894     Elektrisk
894     Regidrago    Rejidorago (レジドラゴ)                   895         Drake
895     Glastrier    Burizaposu (ブリザポス)                   896            Is
896     Spectrier     Reisuposu (レイスポス)                   897         Spöke
897       Calyrex  Badorekkusu (バドレックス)                   898  Psykisk/Gräs

[898 rows x 4 columns]

In [117]:
df.columns

Index(['Engelskt namn', 'Japanskt namn', 'Nationellt Pokédex №', 'Typ'], dtype='object')

In [118]:
df = df.iloc[0:151,[2,0]]
df.rename(columns={'Nationellt Pokédex №' : 'Pokedex'}, inplace=True)
df.set_index("Pokedex", inplace=True)
df

        Engelskt namn
Pokedex
1           Bulbasaur
2             Ivysaur
3            Venusaur
4          Charmander
5          Charmeleon
...               ...
147           Dratini
148         Dragonair
149         Dragonite
150            Mewtwo
151               Mew

[151 rows x 1 columns]

In [119]:
#json_result = df["Engelskt namn"].to_json(orient="index")
df["Engelskt namn"].to_json("../pokedata/pokelist.json", orient="index")